:root {
    --main-color: #358D48;
    --main-color-light: #6CC51D;
}

/* .Navbar {
    padding: 12px 6px 3px 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    position: fixed;
    top: 0; 
    left: 50%;
    transform: translateX(-50%); 
    z-index: 999;
    background-color: white;
    width: 98%;
} */
.Navbar-menu[menuOpen="false"] {
    display: none;
}
.Navbar-menu[menuOpen="true"] {
    display: flex; 
}
/* .Img-Logo {
    max-width: 150px;
    height: auto;
} */

/* .Navbar-menu {
    display: flex;
    list-style: none;
    color: var(--main-color);
    gap: 2px;
    font-size: 19px;
    cursor: pointer;
    position: relative;
}

.Navbar-menu li {
    list-style: none;
    text-align: center;
    display: block; 
} */
.Navbar .toggle {
    display: none;
    top: 0;
    right: 0;
    font-size: 33px;
    flex: 1;
    padding: 0 40px;
}

.Navbar-menu .close {
    display: none;
    top: 0;
    right: 0;
    font-size: 33px;
    flex: 1;
    padding: 0 40px;
}

/* .Navbar-menu li #link {
    text-decoration: none;
    padding: 5px 10px;
    display: block;
}

.Navbar-menu li #link .nav-icon {
    min-width: 50px;
    height: 40px;
    text-align: center;
    overflow: hidden;
}

.Navbar-menu li #link .nav-icon i {
    width: 100%;
    height: 100%;
    line-height: 40px;
    font-size: 26px;
    transition: 0.5s;
    -webkit-text-stroke: 2px #222;
    color: transparent;
}

.Navbar-menu li #link .nav-icon i:last-child {
    color: #358D48;
    -webkit-text-stroke: 0px #222;
    transform: translateY(-200%);
}

.Navbar-menu li #link:hover i {
    transform: translateY(100%);
}

.Navbar-menu li #link:hover i:last-child {
    transform: translateY(-100%);
}

.Navbar-menu li #link .nav-text {
    position: relative;
    height: 20px;
    width: 100%;
    display: block;
    overflow: hidden;
    text-transform: uppercase;
    font-weight: 500;
}

.Navbar-menu li #link .nav-text span {
    display: block;
    position: relative;
    color: #222;
    font-size: 1rem;
    line-height: 20px;
    transition: 0.5s;
}

.Navbar-menu li #link .nav-text span::before {
    content: attr(data-text);
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    left: 0;
    color: #358D48;
}

.Navbar-menu li #link:hover .nav-text span {
    transform: translateY(-20px);
}

.navber-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navber-right span {
    font-size: 30px;
    color: #358D48;
}

.navber-right .button {
    background-color: #358D48;
    color: white;
    border: 1px solid var(--main-color);
    font-size: 17px;
    padding: 5px 25px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.navber-right .button:hover {
    background-color: var(--main-color);
    color: white;
} */

/* .Navbar-menu li a.active .nav-icon,
.Navbar-menu li a.active .nav-text {
    color: var(--main-color);
    -webkit-text-stroke: 1px #358D48;
} */
  
/* Media Queries */
/* @media screen and (max-width: 895px) {
    .Navbar-menu {
        display: none;
      }
      .toggle {
        display: block;
      }
      .toggle.close {
        display: none;
      }
      .Navbar-menu.show {
        display: flex;
      }
    .Navbar {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    ul {
        flex-direction: column;
        padding: 10px 30px;
        width: 250px;
    }

    .Navbar-menu li #link {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2px;
        padding: 8px 10px;
    }

    .Navbar-menu li #link .nav-icon {
        margin: 0 auto;
    }
    
    .Img-Logo {
        max-width: 180px;
    }

    .navber-right .button {
        padding: 7px 35px;
    }
    
} */
