.footer-page{
    background-color:var(--main-color);
    color: #ffffff;
    margin: 0;
}
.footer-page::before{
    position: absolute;
    content: "";
    left: -0px;
    top: -0px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: white;
    transition: all 0.8s ease;
}
.footer-content{
    padding: 20px 20px 8px 20px ;
    width: 90%;
    text-align: center;
    margin: auto;

}
.footer-content .bottom{
width: 100%;
text-align: right;
color:rgb(44, 43, 43);
text-align: center;
}
.footer-content .bottom a{
    outline: none;
    text-decoration: none;
    color: black;
}
/* .footer-content-left img{
    width: 200px;
    height: auto;
} */