/* .login-home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 350px;
    position: relative;
    width: 400px;
    height: 700px;
} */
.LoginPage{
    position: absolute;
    z-index: 2;
    align-items: center;
    display: grid;
    width: 100%;
}
.login-page-container{
    place-self: center;
    width: max(23vw,330px);
    color:white;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 25px 30px  15px 30px ;
    border-radius: 8px;
    font-size: 14px;
    animation:  fadin 0.5s;
}
.login-page-title{
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
}
.login-page-title span{
    font-size: 33px;
    cursor: pointer;
    color: white;
}
.login-page-input{
    display: flex ;
    flex-direction: column;
    gap: 10px;
}
.login-page-input input{
    outline: none;
    border: 1px solid var(--main-color);
    padding: 8px;
    border-radius: 5px;
    font-size: 17px;
    color: var(--main-color);
}
.login-page-container button{
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: var(--main-color);
    background-color: white;
    border: 1px solid var(--main-color);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    margin-top: -5px;
}
.login-page-condition{
    display: flex;
    align-items: start;
    gap: 7px;
    margin-top: -15px;
}
.login-page-condition input{
    margin-top: 5px;
}
.login-page-container .login-text{
    margin-top: -25px;
}
.login-page-container .login-text span{
    font-weight: 600;
    cursor: pointer;
}