@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playwrite+US+Modern:wght@100..400&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
  /* font-family: 'Arial', sans-serif; */
}
body{
  min-height: 100vh;
}
a{
  text-decoration: none;
  color: inherit;
}
.App{
  width: 95%;
  margin: auto;
}
h2{
  animation: reveall linear ;
  animation-timeline: View();
  animation-range-start:cover 0% ;
  animation-range-end: cover 30%;
}
@keyframes reveall{
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}
